@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

=======
@tailwind utilities;
>>>>>>> 992e7b7bb807183f890b69d20ef12a790b435379
